<link rel='stylesheet' href='https://unpkg.com/augmented-ui@2.0.0/augmented-ui.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.35.0/codemirror.css'>
<link rel='stylesheet'
   href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/addon/scroll/simplescrollbars.min.css'>
<link rel="stylesheet" href="/static/css/login.css">
<style>

</style>

<code class="code-container" style="height: 98vh; width: 98vw;">
   <div class="glow-container">
      <div class="augs" style="width: calc(100% - var(--glow-margin-new) * 2); height: calc(100% - var(--glow-margin-new) * 2);" data-augmented-ui></div>
   </div>
   <section class="augs bg" style="width: calc(100% - var(--glow-margin-new) * 2); height: calc(100% - var(--glow-margin-new) * 2);" data-augmented-ui>
      <%= render 'shared/navbar' %>

     <div class="grid-container" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 10px; height: 100%; width: 100%; padding:20px; padding-top: 5%;">
      <% if @contracts.any? %>
         <% @contracts.each do |contract| %>
            <a href="<%= contract_path(contract['id']) %>" style="text-decoration: none;">
               <div style="text-align: center;">
                  <img src="/static/images/fo.png" style="width: 50%; height: auto;" />
                  <div style="color: white; font-weight: bold; margin-top: 10px;">
                     <%= contract['title'] %>
                  </div>
               </div>
            </a>
         <% end %>
      <% else %>
         <div style="text-align: center; color: white; font-weight: bold; margin-top: 20px;width:100vw;">
            <div>No contracts found.</div>
         </div>
         <% end %>
      </div>
   </section>
</code>

<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/codemirror.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/mode/javascript/javascript.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/mode/css/css.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/addon/scroll/simplescrollbars.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/mode/markdown/markdown.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/mode/htmlmixed/htmlmixed.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/mode/xml/xml.js'></script>